
table.video_list  {
  margin-left: 20px;
  margin-right: 20px;
}

.video_list * {
  vertical-align: top;
}


.video_list th {
  font-size:1.2em;
  width: 220px;
}

.video_list p {
  margin: 0 0 2px;
}

.video_list ul {
  margin-bottom: 2px;
}

.video_list td {
  padding-left: 10px;
  font-size: 0.9em;
}

.video_list .video_name {
  font-size: 1.3em;
}


.video_list .full_side a {
  font-size: 1.5em;
}

.video_list .full_side .length {
  font-size: 0.7em;
  font-weight: normal;
  line-height:2em;
  color:#666666;
}


a.cmd_link, a.commit_link {
  color:limegreen;
  font-weight:bold;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;

}

a.commit_link {
  color:maroon;
}

.repo_box {
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #333333;
  display: block;
  margin-left: 20px;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 9.5px;
}