
table.video_list  {
  margin-left: 20px;
  margin-right: 20px;
}

.video_list * {
  vertical-align: top;
}


.video_list th {
  font-size:1.2em;
  width: 200px;
}

.video_list p {
  margin: 0 0 2px;
}

.video_list ul {
  margin-bottom: 2px;
}

.video_list td {
  padding: 10px;
  font-size: 0.9em;
}

.video_list .video_name {
  font-size: 1.3em;
}


.video_list .full_side a {
  font-size: 1.5em;
}

.video_list .full_side .length {
  font-size: 0.7em;
  font-weight: normal;
  line-height:2em;
}


a.cmd_link {
  color:limegreen;
  font-weight:bold;
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;

}